* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
}

body {
	height: 100vh;
	overflow: hidden;
	background-image: url('./assets/backgrounds/fundo.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.borda {
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: fill;
	pointer-events: none; 
}

main {
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
}

#sobre h1 {
	font-size: 2.2rem; 
}

#sobre p {
	font-size: 1.4rem; 
	text-align:center;
}

main > img {
	width: 200px; 
	height: auto;
}

#sobre,
nav {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 0.5rem;
	max-width: 50%;
}


nav a,
.dropdown label {
	font-size: 2rem;
	padding: 0.75rem;
	color: black;
	text-decoration: none;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

nav a:hover,
.dropdown label:hover {
	background-color:  rgba(114, 53, 18, 0.726);
	color: rgb(0, 0, 0);
}

.dropdown {
	position: relative;
}

.dropdown input {
	display: none;
}

.dropdown-menu {
	display: flex;
	flex-direction: column;
	max-height: 0;
	overflow: hidden;
	transition: 0.2s ease-in-out;
}

.dropdown input:checked~.dropdown-menu {
	max-height: 10rem;
}

.dropdown-menu>a {
	font-size: 1.5rem;
}

.dropdown-menu>a:hover {
	background-color:  rgba(114, 53, 18, 0.726);
	color: rgb(0, 0, 0);
	font-weight: bolder;
}

.resultado {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.resultado h1 {
	font-size: 3rem;
}

.resultado p {
	font-size: 1.5rem;
}

.botao-voltar {
	position: fixed;
	top: 7rem;
	text-align: center;
	font-size: 1.5rem;
	padding: 0.75rem;
	color: black;
	background-color: transparent;
	border: none;
	text-decoration: none;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.botao-voltar:hover {
	background-color:  rgba(114, 53, 18, 0.726);
	color: rgb(0, 0, 0);
}